<ion-view title="Kategorien">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios7-search"
                ng-click="mlCtrl.toggleSearch()" ng-hide="mlCtrl.searchActive" href="#">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="item item-input-inset" ng-show="mlCtrl.searchActive">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="text" placeholder="Suche" ng-model="mlCtrl.searchQuery">
            </label>
            <button class="button button-clear" style="min-height: inherit; line-height: inherit"
                    ng-click="mlCtrl.toggleSearch()">Cancel
            </button>
        </div>

        <ion-list can-swipe="true">
            <div ng-repeat="devider in questions | filter:{category: mlCtrl.searchQuery} | unique:'category' | unique:'category.charAt(0)' | orderBy:'category'">
                <div class="item item-divider">
                    <strong>{{devider.category.charAt(0)}}</strong>
                </div>
                <div ng-repeat="module in questions | filter:{category: mlCtrl.searchQuery}|unique:'category'">

                    <ion-item ng-show="module.category.charAt(0) == devider.category.charAt(0)" class="item-text-wrap animation"
                              href="#/questionlist/{{module.category}}">
                        {{module.category}}
                        <ion-option-button class="button-assertive"
                                           ng-click="mlCtrl.deleteCategory(module.category)">Löschen
                        </ion-option-button>
                    </ion-item>
                </div>
            </div>

        </ion-list>
        <div class="card" ng-hide="questions.length">
            <div class="item item-text-wrap">
                <p>Keine Kategorien vorhanden</p>
                <button class="button button-block ion-plus button-light"
                        ng-click="mlCtrl.goToSettings()"> Kategorien importieren
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>