<ion-view title="Fragen">
    <ion-nav-buttons side="left">
        <!--Da keine Navigation zurück möglich ist(Durch Tab-Nav bedingt), wird der nav-back button nachgebildet und mit funktion versehen-->
        <button style="margin-left: -8px; margin-top: 0px; color: #D9D9D9" class="button button-icon ion-arrow-left-c"
                ng-click="qlCtrl.goToModuleList()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list">
            <div class="item item-divider">
                {{questionList[0].category}}
            </div>
            <a href="#/questionview/{{question.id}}" style="text-decoration: none;"
               ng-repeat="question in questionList">
                <div class="card">
                    <div class="item item-text-wrap">
                        <div class="row">
                            <div class="col col-50">
                                <div class="item item-image">
                                    <img ng-src="{{question.imageLink}}">
                                </div>
                            </div>
                            <div class="col">
                                <ul class="list">
                                    <li class="item" style="padding-top: 5px;padding-bottom: 5px;">
                                        <i class="icon ion-ios7-arrow-forward"> {{question.options[0]['option']}} </i>
                                    </li>
                                    <li class="item" style="padding-top: 5px;padding-bottom: 5px;">
                                        <i class="icon ion-ios7-arrow-forward"> {{question.options[1]['option']}} </i>
                                    </li>
                                    <li class="item" style="padding-top: 5px;padding-bottom: 5px;">
                                        <i class="icon ion-ios7-arrow-forward"> {{question.options[2]['option']}} </i>
                                    </li>
                                    <li class="item" style="padding-top: 5px;padding-bottom: 5px;">
                                        <i class="icon ion-ios7-arrow-forward"> {{question.options[3]['option']}} </i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-dark">
        <button class="button icon-pulling ion-play button-outline button-block button-assertive" style="margin: 0px"
                ng-click="qlCtrl.startQuizzMode()">
            Start Quizz
        </button>
    </div>
</ion-view>
