<ion-view title="Einstellungen">
    <ion-content class="has-header">
        <div class="padding">
            <div class="card">
                <div class="item item-divider">Statistik speichern
                </div>
                <ion-toggle style="text-align: left" toggle-class="toggle-calm" ng-model="syncModel.checked"
                            ng-change="syncDataChange()">
                    Backup
                </ion-toggle>
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    UserID: {{getUID()}} <br>
                    Letztes Backup: {{}}
                </div>
            </div>
            <button class="button button-block button-balanced button-outline" ng-click="stCtrl.addCategorys()">
                Kategorien hinzufügen
            </button>
            <button class="button button-block button-assertive button-outline" ng-click="stCtrl.resetStats()">Gelernte
                Karten
                zurücksetzen
            </button>
        </div>
    </ion-content>
</ion-view>